[Unit]
Description=todo_app daemon
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=vagrant
RuntimeDirectory=/vagrant
WorkingDirectory=/vagrant
ExecStart=gunicorn --bind 0.0.0.0:5000 "todo_app.app:create_app()"
ExecReload=/bin/kill -s HUP $MAINPID
EnvironmentFile=/vagrant/.env
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target